<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353113156628-5lc4pef5bbam5lptt200nvbn5k59oaus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353113156628-5lc4pef5bbam5lptt200nvbn5k59oaus</string>
	<key>API_KEY</key>
	<string>AIzaSyDmLospehaBcOurG1DZZJccU9QhH4Zo-C0</string>
	<key>GCM_SENDER_ID</key>
	<string>353113156628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>login-c4575</string>
	<key>STORAGE_BUCKET</key>
	<string>login-c4575.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353113156628:ios:f4eaeaa25bca9d4e8e0b01</string>
</dict>
</plist>